
/* ----------------Nav bar------------ */

#collapsibleNavbar {
    font-family: 'Asap', sans-serif;
    list-style-type: none;
    margin: 0;
    padding-left: 800px;
    background-color: #1C0A6B;
    overflow: hidden;
    box-sizing: border-box;
}

#collapsibleNavbar li {
    border-right: 1px solid #bbb;
}

#collapsibleNavbar li a {
    display: block;
    color: #D1741D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#collapsibleNavbar a:hover {
    background-color: #151CD4;
}

/*-------Homepage-Company logo & contact details-------*/

#business-contacts {
    padding-top: 30px;
    letter-spacing: 4px;
}

/*-------Homepage-about us-------*/

#allan {
    padding-bottom: 5px;
}

/*-------headings-------*/

h4 {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    width: 100%;
    background-color: #1C0A6B;
    display: block;
    color: #D1741D;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
}

/*-------Homepage-our services-------*/

.col-lg-4 {
    text-align: center;
}

h5 {
    text-align: center;
}

/*-------Homepage-testimonials-------*/

#testimonials p {
    background-color:#CED1DE;
    border-radius: 25px;
}

/*-------Footer-------*/

#footer {
    background-color: #1C0A6B;
    color: #D1741D;
}

.company-details {
    text-align: center;
    border-right: 1px solid #bbb;
}


#copywrite {
    color: #D1741D;
    background-color: #1C0A6B;
    border-top: 1px solid #bbb;
}

