@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

/*-------headings/general-------*/

h4 {
    height: 50px;
    background-color: #1C0A6B;
    display: block;
    color: #bbb;
    border-bottom: 3px solid rgba(238, 90, 5, 0.815);
    text-align: center;
    padding-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    padding-top: 6px;
}

img {
    padding: 16px;
}

/* ----------------Nav bar------------ */

#navbar {
    background-color: #1C0A6B;
}

#navbar li a {
    color: #bbb;
    border-right: 2px solid rgba(238, 90, 5, 0.815);
}

#navbar li a:hover {
  background-color: #bbb;
  color: white;
}

/*-------Homepage-Company logo & contact details-------*/

#company-logo {
    padding-left: 40px;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#business-contacts {
    text-align: left;
    padding-top: 30px;
    letter-spacing: 2px;
}

/*-------Homepage our services-------*/

.homepage-services img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: groove;
}

.homepage-services p {
    text-align: center;
    padding: 16px;
}

#services-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------Homepage our last job-------*/

.last-job img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: groove;
}

.last-job p {
    text-align: center;
    padding: 16px;
}

#projects-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------Homepage-testimonials-------*/

.carousel-item {
        padding: 16px 80px;
    }

.blockquote {
    color: black;
    background-color:#CED1DE;
    border-radius: 10px; 
  }

/*-------Homepage-about us-------*/

.allan p {
    padding-top: 32px;
}

.allan img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: groove;
}

/*-------Footer-------*/

.footer {
    background-color: #1C0A6B;
    height: 50px;
    padding-top: 16px;
    text-align: center;
}

.footer p {
    color: #bbb;
    display: inline;
    padding: 0px 25px;
}

.copywrite {
    color: #bbb;
    background-color: #1C0A6B;
    border-top: 2px solid rgba(238, 90, 5, 0.815);
    height: 50px;
    padding-top: 16px;
}

/*-------Our services page-------*/

.services-page {
    background: url("https://images.unsplash.com/photo-1586527155314-1d25428324ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#what-we-offer {
    padding-top: 32px;
}

.services-list p {
    text-align: left;
    background-color:#FFFFFF;
    outline-style: groove;
    padding: 4px 4px;
}

#services-details {
    padding-top: 50px;
    padding-left: 100px;
}

#services-details p {
    color: black;
    text-align: center;
    background-color: rgba(200, 207, 211, 0.815);
    width: 600px;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 60px;
    margin-left: 20px;
}

/*-------Contact us page-------*/

.bg {
    background-image: url("https://images.unsplash.com/photo-1512941937669-90a1b58e7e9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    height:800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form {
    background-color:rgba(201, 218, 230, 0.76);
    padding: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
    border-style: groove;
}

.company-details {
    background-color:rgba(201, 218, 230, 0.76);
    padding-top: 70px;
    margin-top: 24px;
    margin-bottom: 16px;
    border-left: 2px solid black;
    border-style: groove;
}

.form-group {
    display: inline;
}


/*-------Recommend a friend-------*/

#cover-text, #cover-text h3 {
    color: #ffffff;
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 400px;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(238, 90, 5, 0.815);
    top: 680px;
    right: 30px;
    position: absolute;
}   

/*-------projects page-------*/

.projects {
    background-color:rgba(200, 207, 211, 0.5);
    padding: 8px 16px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.projects img {
    padding: 16px;
}