@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

/*-------headings/general-------*/

h4 {
    width: 100%;
    height: 50px;
    background-color: #1C0A6B;
    display: block;
    color: rgb(18, 171, 218);
    text-align: center;
    padding-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

img {
    padding: 16px;
}

/* ----------------Nav bar------------ */

#collapsibleNavbar {
    font-family: 'Asap', sans-serif;
    background-color: #1C0A6B;
    width: 100%;
    height: 50px;
    margin: 0;
}

#collapsibleNavbar li {
    border-right: 1px solid #bbb;
}

#collapsibleNavbar li a {
    display: block;
    color: #D1741D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#collapsibleNavbar a:hover {
    background-color: #151CD4;
}

/*-------Homepage-Company logo & contact details-------*/

#company-logo {
    padding-left: 40px;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#business-contacts {
    text-align: left;
    padding-top: 30px;
    letter-spacing: 2px;
}

/*-------Homepage-about us-------*/

#about-us-text {
    padding-top: 32px;
}

/*-------Homepage-our services-------*/

.col-lg-4 {
    text-align: center;
}

.services img {
    margin-left: auto;
    margin-right: auto;
}

h5 {
    text-align: center;
}

/*-------Homepage-testimonials-------*/

.carousel-item
    {
        padding: 16px 80px;
    }

.blockquote {
    color: black;
    background-color:#CED1DE;
    border-radius: 10px; 
  }

/*-------Footer-------*/

#footer {
    background-color: #1C0A6B;
    width: 100%;
    height: 50px;
    padding-top: 16px;
}

#footer p {
    color: rgb(18, 171, 218);
    display: inline;
    padding-left: 115px;
    padding-right: 115px;
}

#copywrite {
    color: #bbb;
    background-color: #1C0A6B;
    border-top: 1px solid #bbb;
    width: 100%;
    height: 50px;
    padding-top: 16px;
}

/*-------Our services page-------*/

.services-page {
    background: url("https://images.unsplash.com/photo-1586527155314-1d25428324ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#what-we-offer {
    padding-top: 32px;
}

.services-list p {
    text-align: left;
    background-color:#FFFFFF;
    outline-style: groove;
    padding: 4px 4px;
}

#services-details {
    padding-top: 50px;
    padding-left: 100px;
}

#services-details p {
    color: black;
    text-align: center;
    background-color: rgba(184, 195, 201, 0.767);
    width: 600px;
    border-radius: 10px;
    padding: 50px;
}



/*-------Contact us page-------*/

/*-------Recommend a friend-------*/

.bg {
    background-image: url("https://images.unsplash.com/photo-1512941937669-90a1b58e7e9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    height:300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cover-text, #cover-text h3 {
    color: #ffffff;
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 400px;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(238, 91, 5, 0.726);
    bottom:20px;
    right: 30px;
    position: absolute;
}
